*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

header{
  padding: 20px;
}

header h1{
  display: inline-block;
  font-size: xxx-large;
}

header img{
  vertical-align: middle;
}

.main-text{
  width: 50%;
  text-align: center;
}

nav{
  width: 50px;
  list-style-type: none;
}

.menu{
  text-decoration-line: none;
  
}

.list{
  width: 150px;
  padding:50px;
  font-size: 10px;
}

#task{
  color: white;
  background-color: #47ADF1;
  border: 2px solid #47ADF1;
  border-radius: 5px;
}

#section{
  color:#c3c5c5;
  background-color:white;
  border: 2px solid #c3c5c5;
  border-radius: 5px;

}